/target
/data/*.db
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm
.env
.env.local
*.log
.DS_Store

# Deploy secrets
deploy/app/.env
deploy/app/docker-compose.local.yml
deploy/app/compose.yaml


# Deploy runtime data
deploy/app/data/
deploy/app/docker-compose.server.yml
